@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: #fff;
    --primary-dark: rgba(255, 255, 255, 0);
    --primary-red: #ef4035;
    --primary-hover-red: #f33501;
    --dark-pink: #2E151B;
    --light-pink: #DA7B93;
    --dark-green: #1C3334;
    --light-green: #376E6F;
    --primary-blue: #2F4454;
}

body {
    font-family: "roboto condensed", sans-serif;
    background-color: var(--primary-blue) !important;
    color: var(--primary-white) !important;
}


/* ************************* NAVBAR ************************* */

nav {
    z-index: 2;
}

.navbar-custom {
    background-color: var(--light-green) !important;
}

.logo {
    width: 6rem;
    height: 6rem;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 impor !important;
    height: 6rem imp !important;
}


/* ************************* MENU LINKS ************************* */

nav a.nav-link {
    letter-spacing: 0.038rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav li a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
    border-top: 0.1875rem solid var(--light-pink);
}

.navbar-nav>li>a:hover {
    border-top: 0.1875rem solid var(--light-pink);
}


/* ************************* HEADER ************************* */

.header-wraper {
    position: relative;
    background: url(programming.jpg), no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.main-info {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "roboto condensed", sans-serif;
    z-index: 1;
}

.main-info h1 {
    color: var(--primary-white);
    text-transform: uppercase;
}


/* ************************* Typed Text *************************  */

.typed-text {
    font-size: 2rem;
    color: var(--primary-white);
}

@media(max-width: 768px) {
    .main-info h1 {
        font-size: 1.7rem !important;
    }
    .typed-text {
        font-size: 1.3rem !important;
    }
}


/* ************************* HEADER MAIN OFFER BUTTON *************************  */

.btn-main-offer {
    color: var(--primary-white);
    text-transform: uppercase;
    border-radius: 0;
    padding: 0.625rem 0.75rem 0.75rem 0.75rem;
    border: 1px solid var(--primary-red);
    margin-top: 2 rem;
}

.btn-main-offer:hover {
    text-decoration: none;
    background-color: var(--primary-hover-red);
    color: var(--primary-white);
    transition: .2s ease-in-out;
}


/* ************************* PARTICLES JS *************************  */

.tsparticles-canvas-el {
    position: absolute;
    height: 100 vh;
    width: 100vw;
    z-index: 1;
}

@media(max-width: 768px) {
    .particles-canvas {
        display: none;
    }
}


/* ************************* ABOUT ME  *************************  */

#image .personalPhoto {
    background-color: var(--primary-blue) !important;
    padding: 0 !important;
}