@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
    --primary-white: #fff;
    --primary-orange: #f9ab00;
    --primary-dark: rgba(255, 255, 255, 0);
}

body {
    font-family: "roboto condensed" sans-serif;
}


/* ************************* NAVBAR ************************* */

.logo {
    width: 6rem;
    height: 6rem;
}

.navbar-brand {
    max-width: 17.25rem;
    padding: 0 impor !important;
    height: 6rem imp !important;
}


/* ------- MENU LINKS ------- */

nav a.nav-link {
    letter-spacing: 0.038rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
}

.navbar-nav li a {
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    color: var(--primary-white) !important;
    border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav>li>a.active,
.navbar-nav>li>a.active:focus {
    border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover {
    border-top: 0.1875rem solid var(--primary-orange);
}


/* ************************* NAVBAR ************************* */

.header-wraper {
    position: relative;
    background: url(programming.jpg), no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
}